<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My Album Collection</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  </head>
  <body>
    <h1>Search for an Artist</h1>
    <p>Enter your artist here:</p>

    <form action="/search_by_artist/{searchString}" method="get">
      <label for="searchString">artist name</label>
      <input id="searchString" name="searchString" type="text">
      <button type="submit">Search</button>
    </form>

    <p><a href="/">Back home</a></p>
    <hr>
    <p><a href="/artists">Back to Artists.</a></p>
  </body>
</html>